* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fantasy;
  }
  
body{
    display: inline;
}

.lorem{
    font-size: larger;
    }

header , #main-title , main {
    padding-top: 25px;
    padding-bottom: 30px;
}

header{
    background-color: brown;
    text-align: center;
}

header div{
    font-size: 20px;
}

#main-title{
    color: pink;
    font-size:40px;
    line-height: 60px;

}
main,header{
    background-color: rgb(250, 250, 250);
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-width: 1420px;
    max-width: 100vh;
    padding-left: 50px;
    padding-right: 50px;
}

.profili{
    width: 380px;
    background-color: #0F0E17;
    height: 105px;
}

li{
    list-style: none;
    vertical-align: middle;
    line-height: 40px;
    margin-left: 10px;
    color: white;
}

img{
    width: 120px;
    float: left;
}

ul{
    float:left;
    }

main , .profili , .container::after{
content: " ";
display : table;
clear: both;
}

.container{
    float: left;
    background-image: radial-gradient(#04040451 0%, #ffffff 100%);
    padding: 10px;
    border-radius: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
}
