* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body{
    display: inline;
    background-color: blue;

}

header , #main-title , main {

    padding-top: 25px;
    padding-bottom: 30px;

}

header{
    background-color: brown;
    text-align: center;
}

header div{
    font-size: 20px;
}

#main-title{
    color: pink;
    font-size:40px;
    line-height: 60px;

}
main,header{
    background-color: rgb(250, 250, 250);
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-width: 1300px;
    max-width: 100vh;
}

.profili{
    width: 350px;
    background-color: #0F0E17;
    /*padding: 4px;*/
    border: 1px solid red;
    height: 105px;
}

li{
    list-style: none;
    vertical-align: middle;
    line-height: 33px;
    margin-left: 10px;
    color: white;
}
img{
    width: 100px;
    line-height: 105px;
    float: left;
    /*margin-left: 10px;*/
}
ul{
    float:left;
    height: 100px;
    }

main , .profili , .container::after{
content: " ";
display : table;
clear: both;
}

.container{
    float: left;
    border: 4px solid rgb(#7D53CC);
    background-color: rgb(57, 51, 121);
    padding: 10px;
    margin: 5px;
    
}
